*{
    margin: none;
    overflow: hidden;
}

.cadastroVantagem-container {
    background-color: #ffffff; 
    padding: 40px; 
    border-radius: 8px; 
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1); 
    width: 100vw;
    height: 100vh;
  }
  
  .ant-btn-primary {
    background-color: #4CAF50; 
    border-color: #4CAF50; 
    width: 10vw;
  }
  
  .ant-btn-primary:hover {
    background-color: #45a049;
    border-color: #45a049; 
  }
  
  .ant-upload {
    margin-top: 10px; 
  }
  
  