.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height:40vw; 
    padding: 20px;
    background-color: #f0f2f5;
    margin: 0;
}


.ant-card {
    width: 100%;
    max-width: 800px; 
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0; 
}


button[type="primary"] {
    background-color: #1890ff;
    border-color: #1890ff;
    display: inline-block;
    transition: background-color 0.3s, border-color 0.3s;
}



.vantagens-grid-container {
    width: 100%;
    max-width: 1200px; 
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center; 
}

.vantagem-card {
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}

.vantagem-image-container {
    height: 200px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.vantagem-image {
    width: 100%;
    height: auto;
    object-fit: cover; 
}

.vantagem-details {
    padding: 10px;
    text-align: center;
}

.vantagem-description {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.vantagens {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0f4c75;
}