
*{
    margin: 0;
}
.vantagem-detalhe-container {
    padding: 2rem;
    background-color: #f5f5f5; 
    width: 100vw;
    height: 100vh;
}

.vantagem-detalhe-card {
    max-width: 600px;
    margin: auto;
    border-radius: 12px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s;
}

.vantagem-detalhe-card:hover {
    transform: translateY(-5px);
}

.vantagem-detalhe-image {
    height: 400px;
    object-fit: cover;
    border-radius: 12px 12px 0 0; 
}

.vantagem-detalhe-title {
    text-align: center;
    color: #333; 
}

.vantagem-detalhe-details {
    margin: 1rem 0; 
}

.vantagem-detalhe-buttons {
    display: flex;
    justify-content: space-between; 
}

.vantagem-detalhe-back-button {
    margin-bottom: 16px;
    border: none;
    background-color: transparent; 
    color: #04448B; 
    cursor: pointer;
    font-size: 16px;
}

.vantagem-detalhe-back-button:hover {
    text-decoration: underline; 
}
