*{
    overflow-y: hidden;
    margin: 0;
}

.vantagens-container {
    padding: 2rem;
    background-color: #f5f5f5; /* Cor de fundo mais suave */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
 
  }
  
  .cadastro-button {
    background-color: #04448B;
    border-radius: 8px;
    color: white;
    padding: 10px 30px;
    font-size: 14px;
    transition: background-color 0.3s; /* Transição suave ao passar o mouse */
  }
  
  .cadastro-button:hover {
    background-color: #045BA0; /* Efeito hover */
  }
  
  .vantagem-card {
    border: 2px solid rgba(128, 128, 128, 0.5);
  }
  
  
  .vantagem-image-container {
    overflow: hidden; /* Oculta qualquer parte da imagem que exceda o contêiner */
  }
  
  .vantagem-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
    margin-top: 1vw;
  }
  
  
  .pagination {
    margin-top: 2rem; /* Espaçamento superior para a paginação */
  }
  